
<ion-header class={{lang_direction}}>

  <ion-navbar   hideBackButton>
       <ion-title style=" color:#7a7a7a">{{"profile" | translate}}</ion-title> 
      <ion-buttons style="display: inherit;" left>
        <button ion-button icon-only  menuToggle><img src="assets/icon/menu.png" width="25" height="25" style="border: 0px;"></button>
    </ion-buttons>
    <ion-buttons style="display: inherit;" right>
      <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
  </ion-buttons>
    </ion-navbar> 
  </ion-header>
<ion-content style="background-color:white" padding  class={{lang_direction}}>
  <div>
  <div class="text-center" style="margin-top: 0px">
    <img [src]="userImageUrl"  onerror="this.onerror=null;this.src='assets/imgs/default-avatar.png';" width="120" height="120" class="rounded-circle " ><br>
    <!-- <img src="assets/icon/servicegreen.png" style="border-radius: 50% !important; padding: 5px; position: absolute; top: 107px; margin-left: 18px; background-color: white; width: 28px; height: 28px; color: #026938;">   -->
    <ion-icon (click)="selectImage()" name="md-camera" style="border-radius: 50% !important; padding: 5px; position: absolute; top: 113px; margin-left: 18px; background-color: white; width: 28px; height: 28px; color: #026938;    border: 2px solid;"></ion-icon>
    <h4  style="color:#919191;margin-bottom: 10px" > {{userName}} </h4>
    <h5   style="color:#c4c4c4; margin-top:0px;margin-bottom: 10px" >{{userAddress}}</h5>
    <div style="padding-bottom: 40px; border-bottom: 2px solid lightgray">
      <ion-icon name="md-star" *ngIf="ratingStatus == 0" class="star" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus > 0 && ratingStatus < 1" class="star half" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus >= 1" class="star on" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus > 1 && ratingStatus < 2" class="star half" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus >= 2" class="star on" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus < 2 && ratingStatus <=1" class="star" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus > 2 && ratingStatus < 3" class="star half" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus >= 3" class="star on" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus < 3 && ratingStatus <=2 " class="star" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus > 3 && ratingStatus < 4" class="star half" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus >= 4" class="star on" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus < 4 && ratingStatus <=3" class="star" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus > 4 && ratingStatus < 5" class="star half" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus >= 5" class="star on" style="font-size: 20px;"></ion-icon>
      <ion-icon name="md-star" *ngIf="ratingStatus < 5 && ratingStatus <=4" class="star" style="font-size: 20px;"></ion-icon>
    </div>
    </div>
    <ion-grid >
      <div (tap)="openEditProfile()" class="edit_img">
        <img src="assets/icon/edite.png"  width="20" style="border-radius: 50% !important; padding: 2px; position: absolute;width: 30px; left: 15px;">
      </div>
      <ion-row *ngIf="type != 5">
          <ion-col col-1>
            <img src="assets/icon/member.png" width="20" style="border: 0px;">
          </ion-col>
          <ion-col col-11>
              <h6 style="color:#919191;margin-top:4px;">  {{fullname}} </h6>
            
            </ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-1>
          <img src="assets/icon/phonegreen.png" width="20" style="border: 0px;">
        </ion-col>
        <ion-col col-11>
            <h6 style="color:#919191;margin-top:4px;">  {{phone}} </h6>
          
          </ion-col>
      </ion-row>
      <ion-row *ngIf="entityphone && type != 5">
        <ion-col col-1>
          <img src="assets/icon/phonegreen.png" width="20" style="border: 0px;">
        </ion-col>
        <ion-col col-11>
            <h6 style="color:#919191;margin-top:4px;">  {{entityphone}} </h6>
          </ion-col>
      </ion-row>
      <ion-row *ngIf="email">
          <ion-col col-1>
            <img src="assets/icon/mailgreen.png" width="20" style="border: 0px;">
          </ion-col>
          <ion-col col-11>
              <h6 style="color:#919191;margin-top:4px;">  {{email}} </h6>
            
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1>
              <img src="assets/icon/location.png" width="20" style="border: 0px;">
            </ion-col>
            <ion-col col-11>
                <h6 style="color:#919191;margin-top:4px;"> {{userAddress}} </h6>
              
              </ion-col>
          </ion-row>
          <ion-row *ngIf="type == 0 && doctor_price">
              <ion-col col-1 style="color: #15784e !important;">
                  <ion-icon style="font-size: 22px;" name="cash"></ion-icon>
              </ion-col>
              <ion-col col-11>
                  <h6 style="color:#919191;margin-top:4px;"><span style="color: #15784e !important;"> سعر الكشف: </span> {{doctor_price}} </h6>
              
                </ion-col>
            </ion-row>
            <ion-row *ngIf="type == 0 && doctor_retime">
              <ion-col col-1 style="color: #15784e !important;">
                  <ion-icon style="font-size: 22px;" name="cash"></ion-icon>
              </ion-col>
              <ion-col col-11>
                  <h6 style="color:#919191;margin-top:4px;"><span style="color: #15784e !important;"> سعر إعادة الكشف: </span> {{doctor_retime}} </h6>
              
                </ion-col>
            </ion-row>
          <ion-row *ngIf="type == 0">
              <ion-col col-1>
                <img src="assets/icon/member.png" width="20" style="border: 0px;">
              </ion-col>
              <ion-col col-11>
                  <h6 style="color:#919191;margin-top:4px;"> {{bio}} </h6>
                
                </ion-col>
            </ion-row>
            <ion-row *ngIf="type != 1 && type != 3">
                <ion-col col-1>
                  <img src="assets/icon/servicegreen.png" width="20" style="border: 0px;">
                </ion-col>
                <ion-col col-11 *ngIf="type == 2">
                  <!-- <p>type == 2</p> -->
                    <h6 style="color:#919191;margin-top:1px;">  {{"servicesProvided" | translate}} :</h6>
                   <span *ngFor="let item of speciality_services">
                      <!-- &nbsp;&nbsp;&nbsp;(<ion-icon style="font-size: 13px;color: #15784e !important;" name="cash"></ion-icon> &nbsp;<span style="color: #15784e !important;">{{item.price}}</span> ) -->
                    <h6  style="color:#919191;margin-top:0px;font-size: 12px;padding: 0 10px;">  {{item.name}} &nbsp;&nbsp;&nbsp;( <ion-icon style="font-size: 13px;color: #15784e !important;" name="cash"></ion-icon> &nbsp;<span style="color: #15784e !important;">{{item.price}}</span> ) </h6>
                   
                   </span>
              
                  </ion-col>
                  <ion-col col-11 *ngIf="type != 2 ">
                    <!-- <p>type != 2</p> -->
                    <h6 style="color:#919191;margin-top:1px;">  {{"servicesProvided" | translate}} :</h6>
                   <span *ngFor="let item of speciality_services">
                    <h6 style="color:#919191;margin-top:0px;font-size: 12px;padding: 0 10px;">  {{item.name}} </h6>
                   
                   </span>
              
                  </ion-col>
              </ion-row>
    </ion-grid>
    

    <!-- rgba(91, 169, 132, 0.5098039215686274) -->
    <ion-row padding style="padding-bottom: 5px;">
            <h6 style="color:#ab051d;" (click)="workingHours()"> تحديد ساعات العمل  </h6>
          </ion-row>


          <ion-row padding style="padding-top:5px;padding-bottom:5px">
            <h6 style="color:#ab051d;" (click)="changePassword()"> {{"askResetPassword" | translate}} </h6>
          </ion-row>
          
          <ion-row padding style="padding-top: 5px;">
              <h6 style="color:#ab051d;" (click)="changeTelephone()"> {{"askChangeTelephone" | translate}} </h6>
            </ion-row>
            </div>
<!--
            <ion-input readonly [(ngModel)]="mytime" 
            [liIonicTimepicker]="timePickerObj" 
            (ionchange)="myFunction()">
         </ion-input> -->


</ion-content>
