<!--
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class={{lang_direction}}>

  <ion-navbar hideBackButton>
    <ion-title>{{reportStr}}</ion-title>
    <ion-buttons style="display: inherit;" left>
        <button ion-button icon-only  menuToggle><img src="assets/icon/menu.png" width="25" height="25" style="border: 0px;"></button>
    </ion-buttons>
    <ion-buttons style="display: inherit;" right>
      <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:white" class={{lang_direction}} padding>
    <ion-refresher *ngIf="userType == 0" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <div class="text-center">
    <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="max-width:40%;margin-top: 35px;">
  </div>
  <ion-row *ngIf="userType != 0" padding style="text-align: center !important;">
      <ion-col col-7 style="color:#016a38;">موعد تجديد الإشتراك:</ion-col>
      <ion-col col-5>{{subscribe_date_str | date:'yyyy/MM/dd'}}</ion-col>
    </ion-row>
<div  *ngIf="userType == 0">
  <ion-row style="border: 1px solid #016a38;margin-top: 20px;">
    <ion-col col-2>
        <ion-label style="margin:0px;text-align:center;font-size: 15px;padding-top: 9px;color:#016a38">شهر:</ion-label>
    </ion-col> 
    <ion-col col-4 style="text-align:center">
      <ion-datetime displayFormat="MMMM" style="height:40px;background-color: #e8f1ed;"
        [(ngModel)]="monthTxt" [cancelText]="this.translate.instant('canceltxt')" [doneText]="this.translate.instant('doneTxt')" (ionChange)="monthChanged($event)"></ion-datetime> 
        <div *ngIf="langDirection != 'rtl'" style="text-align:right">
            <img src="assets/icon/arrow.png" style="margin-top:-25px;width:20px;height:20px;float: left;">  
          </div>
          <div *ngIf="langDirection == 'rtl'" > 
            <img src="assets/icon/arrow.png" style="margin-top:-25px;width:20px;height:20px;float: left;">  
          </div>
    </ion-col>
    <ion-col col-2>
        <ion-label style="margin:0px;text-align:center;font-size: 15px;padding-top: 9px;color:#016a38">لسنة:</ion-label>
    </ion-col>
    <ion-col col-4 style="text-align:center">
        <ion-datetime displayFormat="YYYY" style="height:40px;background-color: #e8f1ed;"
        [(ngModel)]="yearTxt" [cancelText]="this.translate.instant('canceltxt')" [doneText]="this.translate.instant('doneTxt')" (ionChange)="yearChanged($event)"></ion-datetime> 
        <div *ngIf="langDirection != 'rtl'" style="text-align:right">
            <img src="assets/icon/arrow.png" style="margin-top:-25px;width:20px;height:20px;float: left;">  
          </div>
          <div *ngIf="langDirection == 'rtl'" > 
            <img src="assets/icon/arrow.png" style="margin-top:-25px;width:20px;height:20px;float: left;">  
          </div>
    </ion-col>
  </ion-row>
  <ion-row padding *ngIf="noData && loaded" style="text-align:center;">
    <p style="width:100%;color: #016a38">لا يوجد بيانات للعرض</p>
  </ion-row> 
  
  <span *ngIf="!noData && loaded"> 
      <ion-row >
          <ion-col col-8 style="color:#016a38;">عدد الطلبات:</ion-col>
          <ion-col col-4>{{order_count}}</ion-col>
        </ion-row>

        <ion-row >
          <ion-col col-8 style="color:#016a38;">عدد الطلبات التي تم تنفيذها:</ion-col>
          <ion-col col-4>{{orders_done}}</ion-col>
        </ion-row>

  <ion-row >
      
    <ion-col col-8 style="color:#016a38;">إجمالي تحصيل كشوفات:</ion-col> 
    <ion-col col-4>{{payment}}</ion-col>
  </ion-row>
  <ion-row >
      <ion-col col-8 style="color:#016a38;"> تحصيل غرامات خاصة بي:</ion-col>
      <ion-col col-4>{{forfeit_patient}}</ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-8 style="color:#016a38;">غرامات لم يتم تحصيلها خاصة بي:</ion-col>
      <ion-col col-4>{{forfeit_for_doctor}}</ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-8 style="color:#016a38;">غرامات تم تحصيلها للغير:</ion-col>
      <ion-col col-4>{{forfiet_deserved}}</ion-col>
    </ion-row>
    <ion-row >
        <ion-col col-8 style="color:#016a38;">خصومات الكوبونات:</ion-col>
        <ion-col col-4>{{coupon}}</ion-col>
      </ion-row>
    <ion-row >
        <ion-col col-8 style="color:#016a38;">نسبة التطبيق:</ion-col>
        <ion-col col-4>{{aldoctor_app_percent}}</ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-8 style="color:#016a38;"> الإجمالي المستحق للدكتور:</ion-col>
        <ion-col col-4>{{doctor_money}}</ion-col>
      </ion-row>
      <ion-row *ngIf="paid_to_app_status == 0">
        <ion-col col-8 style="color:#016a38;"> المستحق للدكتور لدى التطبيق:</ion-col>
        <ion-col col-4>{{app_money}}</ion-col>
      </ion-row>
      <ion-row  *ngIf="paid_to_app_status == 1">
        <ion-col col-8 style="color:#016a38;">الإجمالي المستحق للتطبيق:</ion-col>
        <ion-col col-4>{{app_money}}</ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-8 style="color:#016a38;">حالة السداد:</ion-col>
        <ion-col col-4 *ngIf="paid_to_app_status == 0" ><span *ngIf="paid == 0" style="color:red;">لم يتم تحصيلها بعد</span><span *ngIf="paid == 1" style="color:#016a38;"> تم تحصيلها</span></ion-col>
        <ion-col col-4 *ngIf="paid_to_app_status == 1" ><span *ngIf="paid == 0" style="color:red;">لم يتم الدفع بعد</span><span *ngIf="paid == 1" style="color:#016a38;">تم تحصيلها</span></ion-col>
      </ion-row>
      </span>
</div>
</ion-content>