
<ion-content style="background-color:white" padding  class={{lang_direction}}>
  <div class="text-center">
    <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="margin-top: 80px;max-width:40%;">
</div>
<br>
<br>

    <div class="text-center">
        <small id="passwordHelpBlock " class="form-text text-muted " style="color: #8d8d8d !important;
        font-size: 18px;font-family: 'Cairo SemiBold'">
{{"activationCodeTxt" | translate}}      
  </small>
        </div>
        <br>
        <form [formGroup]="activationForm" style="background-color: white;width: 100%">
        <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!activationForm.controls.code.valid && submitAttempt">
      <ion-label style="margin: 0"><img src="assets/icon/mark.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
      <ion-input *ngIf="lang_direction == 'rtl'" placeholder="ادخل الكود"   style="border-radius: 2px;padding: 0px;" formControlName="code" [(ngModel)]="code"
      type="password"></ion-input>
      <ion-input *ngIf="lang_direction != 'rtl'" placeholder="Enter code"    style="border-radius: 2px;padding: 0px;" formControlName="code" [(ngModel)]="code"
  type="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="!activationForm.controls.code.valid && submitAttempt" no-lines>
  <p> {{"enterCode" | translate}} </p>
  </ion-item>
          <small (click)="resendActivationCode()" id="passwordHelpBlock " style="font-family: 'Cairo SemiBold'" class="form-text text-muted">
 {{"resendCode" | translate}}            
  </small>
 
  <br>
  <br>
<div class="form-group">
    <button type="button" (click)="login()" class="btn btn-primary btn-lg btn-block">  {{"Login" | translate}}</button>  
  </div>
</form>
</ion-content>
