  
<ion-header class={{lang_direction}}>

  <ion-navbar>
      <ion-title style=" color:#7a7a7a"></ion-title> 
      
    <ion-buttons style="display: inherit;" right>
      <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="25" height="25" style="border: 0px;"></button>
  </ion-buttons>
    </ion-navbar> 
  </ion-header>
<ion-content   class={{lang_direction}} padding style="height: 100%;font-family: 'Cairo';background-color:white">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div [style.opacity]="opacityOfAllContent">


  <div class="text-center" style="max-height: 100%; min-height: 100px;">
    <div>
    <img [src]="userImageUrl" onerror="this.onerror=null;this.src='assets/imgs/dlogo.png';" width="120" height="120" class="rounded-circle " ><br>
    
  </div>
    <h4  style="color:#5d5a5a;margin: 3px 0px 0px 0px;" >{{userName}} </h4>
    <h5  style="color:#928f8f; margin:0px;margin-bottom: 10px" >{{userAddress}}</h5>
    <ion-icon name="md-star" *ngIf="ratingStatus == 0" class="star" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus > 0 && ratingStatus < 1" class="star half" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus >= 1" class="star on" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus > 1 && ratingStatus < 2" class="star half" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus >= 2" class="star on" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus < 2 && ratingStatus <=1" class="star" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus > 2 && ratingStatus < 3" class="star half" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus >= 3" class="star on" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus < 3 && ratingStatus <=2 " class="star" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus > 3 && ratingStatus < 4" class="star half" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus >= 4" class="star on" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus < 4 && ratingStatus <=3" class="star" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus > 4 && ratingStatus < 5" class="star half" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus >= 5" class="star on" style="font-size: 20px;"></ion-icon>
    <ion-icon name="md-star" *ngIf="ratingStatus < 5 && ratingStatus <=4" class="star" style="font-size: 20px;"></ion-icon>
          <br>
          <br>
          </div>
    <div class="text-center" *ngIf="noOrder || anotherOneAccepted" >
        <table style="margin:auto; ">
            <tr *ngIf="order_no" ><td style="color:#016a38;font-weight: bold;width: 150px;">رقم الطلب: </td><td> {{order_no}}</td></tr>
            <!-- <tr *ngIf="patient_forfit" ><td style="color:#016a38;font-weight: bold;width: 150px;">غرامات مستحقة: </td><td> {{patient_forfit}}</td></tr> -->
            <!-- <tr *ngIf="showReview" ><td style="color:#016a38;font-weight: bold;width: 100px;">
                <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:100px;border-color:#80b49b;width:50%"   (click)="openReview()" >تقييم الطلب</button>
            </td><td>
                <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:190px;border-color:#80b49b;width:50%"  (click)="closeOrder()" >إغلاق الطلب</button>
                </td></tr> -->
            </table>
            <img src="assets/imgs/homevector.png" class="img-responsive" style="border-color:#ffffff;max-width:100%;max-height:100%">
           </div>
            <div *ngIf="newOrder" style=" text-align: center;"> 
              <table style="margin:auto; ">
                <tr *ngIf="order_no" ><td style="color:#016a38;font-weight: bold;width: 150px;">رقم الطلب: </td><td> {{order_no}}</td></tr>
                <!-- <tr *ngIf="patient_forfit" ><td style="color:#016a38;font-weight: bold;width: 150px;">غرامات مستحقة: </td><td> {{patient_forfit}}</td></tr> -->
                </table>
              <img src = "assets/imgs/loading.png" style="width: 48px;height: 48px;border:0px;" >
                <!-- <h3 style="font-size:2rem;margin-bottom: 0px;color:#919191"> {{"expectedTimeToDeliver" | translate}} {{arriveTime}} </h3> -->
                <h3 style="font-size:2rem;margin-top: 0px;color:#919191">{{"remainingTimeToAccept" | translate}} {{timeLeft}}</h3>
                <table style="width: 100%;">
                  <tr *ngIf="files?.length > 0" style="text-align:center;"><td colspan="2">
                    <!-- <button type="button" (click)="openPrescription()" class="btn btn-primary btn-lg btn-sx " style="background-color:#016a38;width:190px">   {{"prescription" | translate}}       </button>   -->
                    <div class="center" *ngIf="files?.length > 0" (click)="openPrescription()">
                      <div class="center" style="margin: 10px 0;">
                        <ion-col col-4 *ngFor="let item of files">
                          <img [src]="server_url+item.path" style="width:100px;height:100px">
                        </ion-col>
                      </div>
                    </div>
                  </td></tr>
                  <tr><td style="height:30px;"></td></tr>
                  <tr style="text-align:center;">
                    <td >
                        <button type="button" (click)="orderUpdateStatus(2)" class="btn btn-primary btn-lg btn-sx " style="background-color:#016a38;width:100px">   {{"accept" | translate}}       </button>  
                    </td>
                    <td>
                <button type="button" (click)="orderUpdateStatus(10)" class="btn btn-primary btn-lg btn-sx" style="background-color:#389e6e;width:100px">   {{"reject" | translate}}       </button>  

                    </td>
                  </tr>
                </table>
                
                
</div>
<div class="text-center" *ngIf="orderAccepted && !anotherOneAccepted" style="">
    
    
    <span *ngIf="appointement && type == 3">
      <ion-item *ngIf="androidIS42 == 1">
          <ion-datetime [min]="minDate" [max]='maxYear' placeholder="حدد الموعد" displayFormat="MM/DD/YYYY HH:mm" style="width: 100%;;height:35px;background-color: #e8f1ed;"
          [(ngModel)]="appointementDate" [cancelText]="this.translate.instant('canceltxt')" [doneText]="this.translate.instant('doneTxt')"></ion-datetime> 
      </ion-item>

    <!-- <ion-item *ngIf="androidIS42 == 0" (click)="chooseDate()">
      <ion-label style="margin:0px">
        <ion-icon color="main" name="ios-time"></ion-icon>{{"appointmentTimeXray" | translate}}
      </ion-label>
      <ion-label style="margin:0px"> {{appointementDateFormated}} </ion-label>
    </ion-item> -->

    <ion-item  *ngIf="androidIS42 == 0"   [hidden]="!!myDate">
      <ion-label style="margin:0px;color:black;" >  <ion-icon color="main" name="ios-time"></ion-icon> {{ 'appointmentTimeXray' | translate }} </ion-label>
      <ion-label style="margin:0px;color: black;" *ngIf="mystartdate">  {{mystartdate}} {{myTime}}</ion-label>
      <ion-datetime  min="{{date}}" max="2050" cancelText="إلغاء" doneText="موافق" (ngModelChange)="change(datePicker)" displayFormat="DD-MMM-YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
 
    <ion-item [hidden]="!myDate" > 
      <ion-datetime #datePicker cancelText="إلغاء" doneText="موافق"
      (ionCancel)="myDate=undefined" (ngModelChange)="changeTime()"  displayFormat="hh:mm a"  [(ngModel)]="myTime"></ion-datetime>
    </ion-item>


    <ion-item>


      <ion-label floating>
        {{"appointmentNotes" | translate}}
      </ion-label>
      <ion-textarea  [(ngModel)]="appointmentNotesModel" type="text"></ion-textarea>

  </ion-item>
  <ion-row>
    <ion-col col-6>
      <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:80%;border-color:#b2d2c3;"  (click)="sendAppointment()">   {{"Send" | translate}}      </button>
    </ion-col>
    <ion-col col-6>
      <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:80%;border-color:#b2d2c3;"  (click)="cancelAppointment()">   {{"canceltxt" | translate}}      </button>
  </ion-col>
    </ion-row>
  </span>

 
      
      <span *ngIf="appointement && type == 2">
       
          <ion-item *ngIf="androidIS42 == 1">
              <ion-datetime [min]="minDate" placeholder="حدد الموعد" displayFormat="MM/DD/YYYY HH:mm" style="width: 100%;;height:35px;background-color: #e8f1ed;"
              [(ngModel)]="appointementDate" [cancelText]="this.translate.instant('canceltxt')" [doneText]="this.translate.instant('doneTxt')"></ion-datetime> 
          </ion-item>


        <!-- <ion-item *ngIf="androidIS42 == 0" (click)="chooseDate()">
        <ion-label style="margin:0px">
          <ion-icon color="main" name="ios-time"></ion-icon>{{"appointmentTimeXray" | translate}}
        </ion-label>
        <ion-label style="margin:0px">{{appointementDateFormated}}</ion-label>
      </ion-item> -->

      <ion-item  *ngIf="androidIS42 == 0"   [hidden]="!!myDate">
        <ion-label style="margin:0px;color:black;" >  <ion-icon color="main" name="ios-time"></ion-icon> {{ 'appointmentTimeXray' | translate }} </ion-label>
        <ion-label style="margin:0px;color: black;" *ngIf="mystartdate">  {{mystartdate}} {{myTime}}</ion-label>
        <ion-datetime  min="{{date}}" max="2050" cancelText="إلغاء" doneText="موافق" (ngModelChange)="change(datePicker)" displayFormat="DD-MMM-YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
   
      <ion-item [hidden]="!myDate" > 
        <ion-datetime #datePicker cancelText="إلغاء" doneText="موافق"
        (ionCancel)="myDate=undefined" (ngModelChange)="changeTime()"  displayFormat="hh:mm a"  [(ngModel)]="myTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>
          {{"appointmentNotes" | translate}}
        </ion-label>
        <ion-textarea  [(ngModel)]="appointmentNotesModel" type="text"></ion-textarea>

    </ion-item>
    <ion-row>
  <ion-col col-6>
    <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:80%;border-color:#b2d2c3;"  (click)="sendAppointment()">   {{"Send" | translate}}      </button>
  </ion-col>
  <ion-col col-6>
    <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:80%;border-color:#b2d2c3;"  (click)="cancelAppointment()">   {{"canceltxt" | translate}}      </button>
</ion-col>
  </ion-row>
       <br><br> 
    </span>
   <span *ngIf="!appointement">
      <div class="center" *ngIf="files?.length > 0" (click)="openPrescription()">
        <div class="center" style="margin: 10px 0;">
          <ion-col col-4 *ngFor="let item of files">
            <img [src]="server_url+item.path" style="width:100px;height:100px">
            </ion-col>
          </div> 
        </div>
        <table style="margin:auto; ">
          <tr *ngIf="order_no" ><td style="color:#016a38;font-weight: bold;width: 150px;">رقم الطلب: </td><td> {{order_no}} <span *ngIf="patientApproved" style="color:green;font-weight:bold;"> (لقد أكد المريض إتمام الطلب)</span></td></tr>
          <!-- <tr *ngIf="patient_forfit" ><td style="color:#016a38;font-weight: bold;width: 150px;">غرامات مستحقة: </td><td> {{patient_forfit}}</td></tr> -->
          <tr *ngIf="order_type != ''" ><td style="color:#016a38;font-weight: bold;width: 100px;">نوع الطلب: </td><td> {{order_type}}</td></tr>
        <tr *ngIf="order_date != ''"><td style="color:#016a38;font-weight: bold;width: 100px;">الموعد المحدد: </td><td> {{order_date}}</td></tr>
        <tr *ngIf="order_remark != ''"><td style="color:#016a38;font-weight: bold;width: 100px;">الملاحظات: </td><td> {{order_remark}}</td></tr>
        </table>
        <button *ngIf="type == 2 && newAppointment == true" type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#b2d2c3;"  (click)="openAppointment()">   {{"appointmentXray" | translate}}      </button> 
        <button *ngIf="type == 3 && newAppointment == true" type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#b2d2c3;"  (click)="openAppointment()">   {{"appointmentLab" | translate}}      </button> <br><br> 
  <!-- <button type="button" disabled *ngIf="disablePrescription"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#b2d2c3;"  >   {{"prescription" | translate}}      </button> <br><br> 
  <button type="button" *ngIf="!disablePrescription"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#b2d2c3;"  (click)="openPrescription()">   {{"prescription" | translate}}      </button> <br><br>  -->
  <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#80b49b;" [disabled]="moveToPatientStatus"  (click)="orderUpdateStatus(8)" >   {{"moveToPatient" | translate}}       </button>  <br><br>
  <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#80b49b;" [disabled]="cancelDetectionStatus" (click)="orderUpdateStatus(11)" >   {{"pharmCancelNoMedicine" | translate}}       </button>  <br><br>
  <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#418f6a;" (click)="shareLoc()" [disabled]="shareStatus" >    {{"shareLoc" | translate}}      </button>  <br><br>
  <button type="button"  class="btn btn-primary btn-lg btn-sx" style="background-color:#016a38;width:250px;border-color:#016a38;" [disabled]="endDetectionStatus" (click)="orderUpdateStatus(5)">   {{"orderDelivered" | translate}}       </button>  
</span>
  </div>
  
      <ion-fab *ngIf="orderAccepted && !anotherOneAccepted" left bottom>
        <button ion-fab style="background-color:#026938" [disabled]="contactStatus">
         
        اتصال
        </button>
        <ion-fab-list side="right" *ngIf="orderAccepted && !anotherOneAccepted">
            <a button ion-fab  (click)="whatsAppPatient()" >
                <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
       
                <a button ion-fab  (click)="callPatient()" >
                    <ion-icon   style="color:#026938;" name="call"></ion-icon></a>
            </ion-fab-list>
      </ion-fab>

    </div>

      <ion-row [hidden]="thanksAlert" justify-content-center align-items-center style="height: 100%"> 
        <ion-col >
          <div  style="padding-left: 30px;padding-right: 30px;box-shadow: 0 0 15px lightgray;position: absolute;top: -620px;left: 5%;z-index: 999;background-color:white;border-radius: 10px;text-align:center;width:300px;height:190px">
            
            <ion-row>
              <ion-col col-11 style="text-align: right;">
                <!-- <ion-label style="margin-bottom: 0px !important;">أدخل إجمالي سعر الدواء</ion-label> -->
                <ion-label style="margin-bottom: 0px !important;">أدخل إجمالي سعر التحاليل</ion-label>
              </ion-col>
              <ion-col col-1>
              
                  <ion-icon name="md-close-circle" style="color: #016a38;font-size: 30px;margin-top: 6px;" (click)="closePopup()"></ion-icon>
              
              </ion-col>
            </ion-row>
      
            
            <ion-row>
              <ion-col col-2></ion-col>
              <ion-col col-4>
      
                <ion-label style="margin-top: 0px;
                margin-bottom: 5px;">قرش</ion-label>
      
                <ion-input  style="border-radius: 2px;border: 1px solid lightgray;background-color:white" 
                [(ngModel)]="PT" type="tel"></ion-input>
      
              </ion-col>
              <ion-col col-4>
              
                <ion-label style="margin-top: 0px;
                margin-bottom: 5px;">جنيه</ion-label>
      
                <ion-input  style="border-radius: 2px;border: 1px solid lightgray;background-color:white" 
                [(ngModel)]="LE" type="tel"></ion-input>
      
              </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
      
            <button ion-button  style="padding: 0px 0px;font-size:16px;border-radius: 10px;margin-top:10px;"  class="btn btn-primary btn-lg btn-block2" (click)="sendPrice()">إرسال</button>
           
            
            <!-- <img src="assets/imgs/check_circle_2.png" style="margin-top:20px;width: 80px;">
            <p style="color:#6aaf25;text-align:center;font-size: 26px;margin-bottom: 0px;">Thank you!</p>
            <p style="color:black;text-align:center;font-size: 16px;margin-bottom: 30px;">Report submitted successfully.</p>
            <button ion-button  block style="padding: 25px 0px;font-size:16px;border-radius: 10px;margin-top:20px;background-color: #38b5ed;" (click)="returnToSite()">RETURN TO SITE</button>
                  -->
      
          </div>  
        </ion-col>
      </ion-row>
      

      

    </ion-content>


