<!--
  Generated template for the PaidPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class={{lang_direction}}>

  <ion-navbar  hideBackButton>
    <ion-title>{{"paymentPolicy" | translate }}</ion-title>
    <ion-buttons style="display: inherit;" left>
        <button ion-button icon-only  menuToggle><img src="assets/icon/menu.png" width="25" height="25" style="border: 0px;"></button>
    </ion-buttons>
    <ion-buttons style="display: inherit;" right>
      <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:white" class={{lang_direction}} padding>
  <div class="text-center">
    <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="max-width:40%;margin-top: 35px;">
  </div>

  <p style="color:grey;font-size:13px;margin:14px;">{{privacy_data}}</p>
</ion-content>
